.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.container{

}
.portfolio-img{
    max-width: 50%;
    height: auto;
}
.card-img-top{
    max-width: 300px;
}
body {
    text-align: center;
}